@media screen and (min-width: 768px) {
    .menu-title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .content {
        gap: 2.5rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .modal-item {
        min-width: 600px;
    }
}

/* Para telas grandes - padrão */
@media screen and (min-width: 768px) {
    .container-menu {
        height: 80px;
        /* Certifique-se de que o menu tenha uma altura confortável */
        padding: 10px 30px;
        /* Adiciona um pouco mais de espaço nas laterais */
        justify-content: space-between;
        /* Garante que o menu ocupe toda a largura */
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* Mais espaçamento entre os itens */
    }

    .navbar ul li {
        margin: 0 15px;
        /* Um espaçamento maior entre os itens de menu */
        font-size: 1.4rem;
        /* Tamanho de fonte maior */
    }

    .btn-header img {
        width: 45px;
        /* Tamanho da imagem no header */
    }
}

/* Para telas menores (mobile) - Mantenha os itens lado a lado */
@media (max-width: 768px) {
    .container-menu {
        height: 60px;
        padding: 5px 15px;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 0;
        padding: 2px;
    }

    .navbar ul li {
        font-size: 0.875rem;
        margin: 0;
    }

    .btn-header img {
        width: 30px;
        margin-left: 0.5rem;
    }

    footer {
        font-size: 0.875rem;
    }
}